::-webkit-scrollbar {
    width:  .5em;
    height: .5em;
}

::-webkit-scrollbar-thumb {
    background: slategray;
}

body, html {
    height: 100%;
}

.websocket-open, .websocket-opening, .websocket-closed { 
    display: none; 
}

[data-websocket="open"]    .websocket-open    { display: inherit; }
[data-websocket="opening"] .websocket-opening { display: inherit; }
[data-websocket="closed"]  .websocket-closed  { display: inherit; }

.top-content {
    height: calc(100% - 60px);
    overflow-y: scroll;
    overflow-x: hidden;

    transition: height 500ms;
}

.bottom-content > .card {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 60px;
    margin-bottom: 0 !important;
    border-radius: 0;

    transition: height 500ms;
}

[data-terminal="open"] .top-content { height: calc(100% - 333px); }
[data-terminal="open"] .bottom-content > .card { height: 333px; }

.terminal .icono-caretDown { transition:  transform 500ms; }
[data-terminal="closed"] .terminal .icono-caretDown { transform: rotate(-90deg); }

.row.log {
    border-radius: 5px;
    word-break: break-all;
}

.row.log:hover{
    background: rgba(255,255,255,0.03);
}

.hidden {
    display: none !important;
}
